body{
    background-image: url(fotofundo.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

h1.thick {
    font-weight: bold;
    color: aliceblue;
}

h2.thick {
    font-weight: bold;
    color: aliceblue;
}

label.thick {
    font-weight: bold;
    color: aliceblue;
}

p.thick {
    font-weight: bold;
    color: aliceblue;
}

button{
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }