body{
    background-image: url(fotofundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1.thick {
    font-weight: bold;
    color: aliceblue;
}

h2.thick {
    font-weight: bold;
    color: aliceblue;
}

label.thick {
    font-weight: bold;
    color: aliceblue;
}

p.thick {
    font-weight: bold;
    color: aliceblue;
}